*
!/**/
!*.*


ICPCGameAI2020/IcpcContestantAll/IcpcContestantAll/ICPC/*
!ICPCGameAI2020/IcpcContestantAll/IcpcContestantAll/ICPC/py
library/
*.vscode
matrixGenerator.cpp
setupcustom.py
printMain.cpp
bf/
Library/
.ccls-cache/
a.out
in.txt
out.txt
